<?xml version="1.0" encoding="utf-8"?>
<TransportConfigurationSettings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <TransportConfiguration xsi:type="UdpConfiguration">
    <Name>UdpSend</Name>
    <Port>0</Port>
    <RemoteHostName>127.0.0.1</RemoteHostName>
    <RemotePort>2323</RemotePort>
  </TransportConfiguration>
  <TransportConfiguration xsi:type="TcpServerConfiguration">
    <Name>TcpServer</Name>
    <Port>2323</Port>
  </TransportConfiguration>
  <TransportConfiguration xsi:type="TcpClientConfiguration">
    <Name>TcpClient</Name>
    <HostName>127.0.0.1</HostName>
    <Port>2323</Port>
  </TransportConfiguration>
</TransportConfigurationSettings>