<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?define ResourcesPath="..\Resources"?>
  <?if $(var.Platform) = x64?>
    <?define Win64="yes"?>
  <?else?>
    <?define Win64="no"?>
  <?endif?>

  <Fragment>
    <ComponentGroup Id="ProductProjectTemplates" Directory="PROJECTTEMPLATESFOLDER">
      <Component Id='BonsaiPackageTemplate' Guid='*' Win64="$(var.Win64)">
        <File Id='BonsaiPackageTemplateZIP' Name='BonsaiPackage.zip' Source='$(var.ResourcesPath)\BonsaiPackage.zip' KeyPath='yes'/>
      </Component>
    </ComponentGroup>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="ProductItemTemplates" Directory="ITEMTEMPLATESFOLDER">
      <Component Id='BonsaiSourceTemplate' Guid='*' Win64="$(var.Win64)">
        <File Id='BonsaiSourceTemplateZIP' Name='BonsaiSource.zip' Source='$(var.ResourcesPath)\BonsaiSource.zip' KeyPath='yes'/>
      </Component>

      <Component Id='BonsaiTransformTemplate' Guid='*' Win64="$(var.Win64)">
        <File Id='BonsaiTransformTemplateZIP' Name='BonsaiTransform.zip' Source='$(var.ResourcesPath)\BonsaiTransform.zip' KeyPath='yes'/>
      </Component>

      <Component Id='BonsaiConditionTemplate' Guid='*' Win64="$(var.Win64)">
        <File Id='BonsaiConditionTemplateZIP' Name='BonsaiCondition.zip' Source='$(var.ResourcesPath)\BonsaiCondition.zip' KeyPath='yes'/>
      </Component>

      <Component Id='BonsaiSinkTemplate' Guid='*' Win64="$(var.Win64)">
        <File Id='BonsaiSinkTemplateZIP' Name='BonsaiSink.zip' Source='$(var.ResourcesPath)\BonsaiSink.zip' KeyPath='yes'/>
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>