<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:vs="http://schemas.microsoft.com/wix/VSExtension">
  <?define Win64="no"?>
  <?define ResourcesPath="..\Resources"?>
  <?define VsixPath="..\Bonsai.Templates\Bonsai.Templates\bin\Release"?>

  <Fragment>
    <ComponentGroup Id="BonsaiVsExtensions" Directory="VSEXTENSIONSFOLDER">
      <Component Id='BonsaiVsTemplates' Guid='*' Win64="$(var.Win64)">
        <File Id="BonsaiTemplates.vsix" Source="$(var.VsixPath)\BonsaiTemplates.vsix" KeyPath="yes">
          <Shortcut Id="startmenuBonsaiTemplates"
                    Directory="ProgramMenuDir"
                    WorkingDirectory="VSEXTENSIONSFOLDER"
                    Name="Install Bonsai VS Extensions"
                    Icon="vsix.ico"
                    Advertise="yes"/>
        </File>
      </Component>
      <Component Id='BonsaiVsixPackage' Guid='*' Win64="$(var.Win64)">
        <Condition>(INSTALLVSIX="1")</Condition>
        <vs:VsixPackage File="BonsaiTemplates.vsix" PackageId="BonsaiTemplatesVsix.ac37e8b9-5d6c-407c-b2ca-2e550a8ab918" Vital="no"/>
        <RegistryValue Root='HKCU' Key='Software\[Manufacturer]\[ProductName]' Name='InstallVsix' Type='integer' Value='1' KeyPath='yes' />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>