<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <?define PackageBuildPath="..\Packages\Release"?>
  <?define ExamplesPath="..\Examples"?>
  <?if $(var.Platform) = x64?>
    <?define Win64="yes"?>
    <?define OpenCVSource="opencv\x64"?>
    <?define OpenCVffmpeg="opencv_ffmpeg243_64.dll"?>
  <?else?>
    <?define Win64="no"?>
    <?define OpenCVSource="opencv\x86"?>
    <?define OpenCVffmpeg="opencv_ffmpeg243.dll"?>
  <?endif?>

  <Fragment>
    <ComponentGroup Id="IOPackageComponents" Directory="PACKAGESFOLDER">
      <Component Id="BonsaiIOLibrary" Guid="*" Win64="$(var.Win64)">
        <File Id="BonsaiIODLL" Name="Bonsai.IO.dll" Source="$(var.PackageBuildPath)\Bonsai.IO.dll" KeyPath="yes"/>
        <File Id="BonsaiIOPDB" Name="Bonsai.IO.pdb" Source="$(var.PackageBuildPath)\Bonsai.IO.pdb"/>
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="ArduinoPackageComponents" Directory="PACKAGESFOLDER">
      <ComponentGroupRef Id="IOPackageComponents"/>
      <Component Id="BonsaiArduinoLibrary" Guid="*" Win64="$(var.Win64)">
        <File Id="BonsaiArduinoDLL" Name="Bonsai.Arduino.dll" Source="$(var.PackageBuildPath)\Bonsai.Arduino.dll" KeyPath="yes"/>
        <File Id="BonsaiArduinoPDB" Name="Bonsai.Arduino.pdb" Source="$(var.PackageBuildPath)\Bonsai.Arduino.pdb"/>
      </Component>

      <Component Id="BonsaiArduinoDesignLibrary" Guid="*" Win64="$(var.Win64)">
        <File Id="BonsaiArduinoDesignDLL" Name="Bonsai.Arduino.Design.dll" Source="$(var.PackageBuildPath)\Bonsai.Arduino.Design.dll" KeyPath="yes"/>
        <File Id="BonsaiArduinoDesignPDB" Name="Bonsai.Arduino.Design.pdb" Source="$(var.PackageBuildPath)\Bonsai.Arduino.Design.pdb"/>
      </Component>
    </ComponentGroup>

    <Component Id="OpenCVNetLibrary" Guid="*" Directory="PACKAGESFOLDER" Win64="$(var.Win64)">
      <File Id="OpenCVNetDLL" Name="OpenCV.Net.dll" Source="$(var.PackageBuildPath)\OpenCV.Net.dll" KeyPath="yes"/>
      <File Id="OpenCVNetPDB" Name="OpenCV.Net.pdb" Source="$(var.PackageBuildPath)\OpenCV.Net.pdb"/>
      <File Id="opencv_calib3d243DLL" Name="opencv_calib3d243.dll" Source="$(var.OpenCVSource)\opencv_calib3d243.dll"/>
      <File Id="opencv_contrib243DLL" Name="opencv_contrib243.dll" Source="$(var.OpenCVSource)\opencv_contrib243.dll"/>
      <File Id="opencv_core243DLL" Name="opencv_core243.dll" Source="$(var.OpenCVSource)\opencv_core243.dll"/>
      <File Id="opencv_features2d243DLL" Name="opencv_features2d243.dll" Source="$(var.OpenCVSource)\opencv_features2d243.dll"/>
      <File Id="opencv_ffmpeg243DLL" Name="$(var.OpenCVffmpeg)" Source="$(var.OpenCVSource)\$(var.OpenCVffmpeg)"/>
      <File Id="opencv_flann243DLL" Name="opencv_flann243.dll" Source="$(var.OpenCVSource)\opencv_flann243.dll"/>
      <File Id="opencv_gpu243DLL" Name="opencv_gpu243.dll" Source="$(var.OpenCVSource)\opencv_gpu243.dll"/>
      <File Id="opencv_highgui243DLL" Name="opencv_highgui243.dll" Source="$(var.OpenCVSource)\opencv_highgui243.dll"/>
      <File Id="opencv_imgproc243DLL" Name="opencv_imgproc243.dll" Source="$(var.OpenCVSource)\opencv_imgproc243.dll"/>
      <File Id="opencv_legacy243DLL" Name="opencv_legacy243.dll" Source="$(var.OpenCVSource)\opencv_legacy243.dll"/>
      <File Id="opencv_ml243DLL" Name="opencv_ml243.dll" Source="$(var.OpenCVSource)\opencv_ml243.dll"/>
      <File Id="opencv_nonfree243DLL" Name="opencv_nonfree243.dll" Source="$(var.OpenCVSource)\opencv_nonfree243.dll"/>
      <File Id="opencv_objdetect243DLL" Name="opencv_objdetect243.dll" Source="$(var.OpenCVSource)\opencv_objdetect243.dll"/>
      <File Id="opencv_photo243DLL" Name="opencv_photo243.dll" Source="$(var.OpenCVSource)\opencv_photo243.dll"/>
      <File Id="opencv_stitching243DLL" Name="opencv_stitching243.dll" Source="$(var.OpenCVSource)\opencv_stitching243.dll"/>
      <File Id="opencv_ts243DLL" Name="opencv_ts243.dll" Source="$(var.OpenCVSource)\opencv_ts243.dll"/>
      <File Id="opencv_video243DLL" Name="opencv_video243.dll" Source="$(var.OpenCVSource)\opencv_video243.dll"/>
      <File Id="opencv_videostab243DLL" Name="opencv_videostab243.dll" Source="$(var.OpenCVSource)\opencv_videostab243.dll"/>
    </Component>

    <ComponentGroup Id="OpenTK" Directory="PACKAGESFOLDER">
      <Component Id="OpenTKLibrary" Guid="*" Win64="$(var.Win64)">
        <File Id="OpenTKDLL" Name="OpenTK.dll" Source="$(var.PackageBuildPath)\OpenTK.dll" KeyPath="yes"/>
      </Component>

      <Component Id="OpenTKGLControlLibrary" Guid="*" Win64="$(var.Win64)">
        <File Id="OpenTKGLControlDLL" Name="OpenTK.GLControl.dll" Source="$(var.PackageBuildPath)\OpenTK.GLControl.dll" KeyPath="yes"/>
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="DspPackageComponents" Directory="PACKAGESFOLDER">
      <ComponentRef Id="OpenCVNetLibrary"/>
      <Component Id="BonsaiDspLibrary" Guid="*" Win64="$(var.Win64)">
        <File Id="BonsaiDspDLL" Name="Bonsai.Dsp.dll" Source="$(var.PackageBuildPath)\Bonsai.Dsp.dll" KeyPath="yes"/>
        <File Id="BonsaiDspPDB" Name="Bonsai.Dsp.pdb" Source="$(var.PackageBuildPath)\Bonsai.Dsp.pdb"/>
      </Component>

      <Component Id="BonsaiDspDesignLibrary" Guid="*" Win64="$(var.Win64)">
        <File Id="BonsaiDspDesignDLL" Name="Bonsai.Dsp.Design.dll" Source="$(var.PackageBuildPath)\Bonsai.Dsp.Design.dll" KeyPath="yes"/>
        <File Id="BonsaiDspDesignPDB" Name="Bonsai.Dsp.Design.pdb" Source="$(var.PackageBuildPath)\Bonsai.Dsp.Design.pdb"/>
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="AudioPackageComponents" Directory="PACKAGESFOLDER">
      <ComponentGroupRef Id="OpenTK"/>
      <ComponentGroupRef Id="DspPackageComponents"/>
      <Component Id="BonsaiAudioLibrary" Guid="*" Win64="$(var.Win64)">
        <File Id="BonsaiAudioDLL" Name="Bonsai.Audio.dll" Source="$(var.PackageBuildPath)\Bonsai.Audio.dll" KeyPath="yes"/>
        <File Id="BonsaiAudioPDB" Name="Bonsai.Audio.pdb" Source="$(var.PackageBuildPath)\Bonsai.Audio.pdb"/>
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="VisionPackageComponents" Directory="PACKAGESFOLDER">
      <ComponentGroupRef Id="OpenTK"/>
      <ComponentRef Id="OpenCVNetLibrary"/>
      <Component Id="BonsaiVisionLibrary" Guid="*" Win64="$(var.Win64)">
        <File Id="BonsaiVisionDLL" Name="Bonsai.Vision.dll" Source="$(var.PackageBuildPath)\Bonsai.Vision.dll" KeyPath="yes"/>
        <File Id="BonsaiVisionPDB" Name="Bonsai.Vision.pdb" Source="$(var.PackageBuildPath)\Bonsai.Vision.pdb"/>
      </Component>

      <Component Id="BonsaiVisionDesignLibrary" Guid="*" Win64="$(var.Win64)">
        <File Id="BonsaiVisionDesignDLL" Name="Bonsai.Vision.Design.dll" Source="$(var.PackageBuildPath)\Bonsai.Vision.Design.dll" KeyPath="yes"/>
        <File Id="BonsaiVisionDesignPDB" Name="Bonsai.Vision.Design.pdb" Source="$(var.PackageBuildPath)\Bonsai.Vision.Design.pdb"/>
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="VisionPackageExamples">
      <Component Id="CameraTrigger" Directory="CAMERATRIGGERFOLDER" Guid="*" Win64="$(var.Win64)">
        <File Id="CameraTriggerBONSAI" Name="CameraTrigger.bonsai" Source="$(var.ExamplesPath)\Vision\CameraTrigger\CameraTrigger.bonsai" KeyPath="yes"/>
      </Component>

      <Component Id="ColorSegmentation" Directory="COLORSEGMENTATIONFOLDER" Guid="*" Win64="$(var.Win64)">
        <File Id="ColorSegmentationBONSAI" Name="ColorSegmentation.bonsai" Source="$(var.ExamplesPath)\Vision\ColorSegmentation\ColorSegmentation.bonsai" KeyPath="yes"/>
      </Component>
      
      <Component Id="ContrastSegmentation" Directory="CONTRASTSEGMENTATIONFOLDER" Guid="*" Win64="$(var.Win64)">
        <File Id="ContrastSegmentationBONSAI" Name="ContrastSegmentation.bonsai" Source="$(var.ExamplesPath)\Vision\ContrastSegmentation\ContrastSegmentation.bonsai" KeyPath="yes"/>
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="ScriptingPackageComponents" Directory="PACKAGESFOLDER">
      <Component Id="BonsaiScriptingLibrary" Guid="*" Win64="$(var.Win64)">
        <File Id="BonsaiScriptingDLL" Name="Bonsai.Scripting.dll" Source="$(var.PackageBuildPath)\Bonsai.Scripting.dll" KeyPath="yes"/>
        <File Id="BonsaiScriptingPDB" Name="Bonsai.Scripting.pdb" Source="$(var.PackageBuildPath)\Bonsai.Scripting.pdb"/>
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>