<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?define EditorProjectPath="..\Bonsai.Editor"?>
  <?define ResourcesPath="..\Resources"?>
  
  <?if $(var.Platform) = x64?>
    <?define Win64="yes"?>
    <?define ProductDisplayName="Bonsai (64-bit)"?>
    <?define ProductUpgradeCode="4ba318de-f0ce-4c8a-9898-0ac27ef0d0e3"?>
    <?define ProgramFilesFolder="ProgramFiles64Folder"?>
  <?else?>
    <?define Win64="no"?>
    <?define ProductDisplayName="Bonsai"?>
    <?define ProductUpgradeCode="c515ec87-8a06-4285-94bf-cfa00c7a7212"?>
    <?define ProgramFilesFolder="ProgramFilesFolder"?>
  <?endif?>
  
	<Product Id="*" Name="$(var.ProductDisplayName)" Language="1033" Version="!(bind.FileVersion.BonsaiEditorEXE)" Manufacturer="Goncalo Lopes" UpgradeCode="$(var.ProductUpgradeCode)">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate EmbedCab="yes"/>

    <Icon Id="Bonsai.ico" SourceFile="$(var.EditorProjectPath)\Bonsai.ico" />
    <Icon Id="BonsaiWorkflow.ico" SourceFile="$(var.ResourcesPath)\BonsaiWorkflow.ico" />
    <Property Id="ARPPRODUCTICON" Value="Bonsai.ico" />
    
		<Feature Id="ProductFeature" Title="Bonsai" Level="1" ConfigurableDirectory="INSTALLFOLDER">
      <Feature Id="RuntimeFeature" Title="Runtime" Level="1">
        <ComponentGroupRef Id="ProductComponents" />
        <ComponentRef Id='ProgramMenuDir' />
      </Feature>

      <Feature Id="DevelopmentFeature" Title="Development" Level="1">
        <ComponentGroupRef Id="BonsaiVsExtensions" />
      </Feature>
		</Feature>
	</Product>

	<Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="$(var.ProgramFilesFolder)">
        <Directory Id="INSTALLFOLDER" Name="Bonsai">
          <Directory Id="PACKAGESFOLDER" Name="Packages"/>
          <Directory Id="VSEXTENSIONSFOLDER" Name="Extensions"/>
        </Directory>
			</Directory>

      <Directory Id="ProgramMenuFolder" Name="Programs">
        <Directory Id="ProgramMenuDir" Name="$(var.ProductDisplayName)">
          <Component Id="ProgramMenuDir" Guid="*" Win64="$(var.Win64)">
            <RemoveFolder Id='ProgramMenuDir' On='uninstall' />
            <RegistryValue Root='HKCU' Key='Software\[Manufacturer]\[ProductName]' Type='string' Value='' KeyPath='yes' />
          </Component>
        </Directory>
      </Directory>
		</Directory>
	</Fragment>
</Wix>