<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?define EditorProjectPath="..\Bonsai.Editor"?>
  <?define ResourcesPath="..\Resources"?>
	<Product Id="84694a9b-9960-48fa-ac5e-5e8d7c5c6e62" Name="Bonsai" Language="1033" Version="1.0.0.0" Manufacturer="Goncalo Lopes" UpgradeCode="c515ec87-8a06-4285-94bf-cfa00c7a7212">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate EmbedCab="yes"/>

    <Icon Id="Bonsai.ico" SourceFile="$(var.EditorProjectPath)\Bonsai.ico" />
    <Icon Id="BonsaiWorkflow.ico" SourceFile="$(var.ResourcesPath)\BonsaiWorkflow.ico" />
    <Property Id="ARPPRODUCTICON" Value="Bonsai.ico" />
    <Property Id="PROJECTTEMPLATESLOCATION">
      <RegistrySearch Id="ProjectTemplatesLocationVCSExpressRegistry" Type="directory" Root="HKCU" Key="Software\Microsoft\VCSExpress\10.0" Name="UserProjectTemplatesLocation" />
      <RegistrySearch Id="ProjectTemplatesLocationVSRegistry" Type="directory" Root="HKCU" Key="Software\Microsoft\VisualStudio\10.0" Name="UserProjectTemplatesLocation" />
    </Property>
    <Property Id="ITEMTEMPLATESLOCATION">
      <RegistrySearch Id="ItemTemplatesLocationVCSExpressRegistry" Type="directory" Root="HKCU" Key="Software\Microsoft\VCSExpress\10.0" Name="UserItemTemplatesLocation" />
      <RegistrySearch Id="ItemTemplatesLocationVSRegistry" Type="directory" Root="HKCU" Key="Software\Microsoft\VisualStudio\10.0" Name="UserItemTemplatesLocation" />
    </Property>

		<Feature Id="ProductFeature" Title="Bonsai" Level="1" ConfigurableDirectory="INSTALLFOLDER">
      <Feature Id="RuntimeFeature" Title="Runtime" Level="1">
        <ComponentGroupRef Id="ProductComponents" />
        <ComponentRef Id='ProgramMenuDir' />
      </Feature>

      <Feature Id='DevelopmentFeature' Title='Development' Level='1'>
        <ComponentGroupRef Id='ProductProjectTemplates'/>
        <ComponentGroupRef Id='ProductItemTemplates'/>
      </Feature>

      <Feature Id='PackagesFeature' Title='Packages' Level='1'>
        <Feature Id='IOPackage' Title='IO' Level='1'>
          <ComponentGroupRef Id='IOPackageComponents'/>
        </Feature>
        <Feature Id='ArduinoPackage' Title='Arduino' Level='1'>
          <ComponentGroupRef Id='ArduinoPackageComponents'/>
        </Feature>
        <Feature Id='DspPackage' Title='Dsp' Level='1'>
          <ComponentGroupRef Id='DspPackageComponents'/>
        </Feature>
        <Feature Id='AudioPackage' Title='Audio' Level='1'>
          <ComponentGroupRef Id='AudioPackageComponents'/>
        </Feature>
        <Feature Id='VisionPackage' Title='Vision' Level='1'>
          <ComponentGroupRef Id='VisionPackageComponents'/>
        </Feature>
        <Feature Id='ScriptingPackage' Title='Scripting' Level='1'>
          <ComponentGroupRef Id='ScriptingPackageComponents'/>
        </Feature>
      </Feature>
		</Feature>
	</Product>

	<Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="Bonsai">
          <Directory Id="PACKAGESFOLDER" Name="Packages"/>
          <Directory Id="TemplatesFolder" Name="Templates">
            <Directory Id="PROJECTTEMPLATESFOLDER" Name="ProjectTemplates"/>
            <Directory Id="ITEMTEMPLATESFOLDER" Name="ItemTemplates"/>
          </Directory>
        </Directory>
			</Directory>

      <Directory Id="ProgramMenuFolder" Name="Programs">
        <Directory Id="ProgramMenuDir" Name="Bonsai">
          <Component Id="ProgramMenuDir" Guid="62ca09ba-9fab-4ec7-b46f-a8121e9f9fd1">
            <RemoveFolder Id='ProgramMenuDir' On='uninstall' />
            <RegistryValue Root='HKCU' Key='Software\[Manufacturer]\[ProductName]' Type='string' Value='' KeyPath='yes' />
          </Component>
        </Directory>
      </Directory>
		</Directory>

    <SetProperty Id="PROJECTTEMPLATESFOLDER" Value="[PROJECTTEMPLATESLOCATION]\Bonsai" After="AppSearch"/>
    <SetProperty Id="ITEMTEMPLATESFOLDER" Value="[ITEMTEMPLATESLOCATION]\Bonsai" After="AppSearch"/>
	</Fragment>
</Wix>